#logo {
    /* width: 475px; */
    animation-name: idAnimation;
    animation-duration: 5s;
}

body {
    font-family: "Poppins", serif;
    background-image: url("../images/concrete_seamless.png");
    background-color: #f1f1f1;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
}

a:visited {
    color: blue;
}

.card > header {
    background-color: #288088;
    border: 2px solid #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.pricing {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.card {
    display: flex;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    flex-direction: column;
    flex-basis: 450px;
}

.gallery{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;  
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

@keyframes idAnimation {
    from {width: 25px; opacity: 0;}
    to {width: 475px; opacity: 1;}
  }

@media screen and (min-width:  900px){
    body > header{
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        top: 0;
    }
    
    .nav_links {
        flex-direction: row;
    }

    .card {
        flex-basis: 250px;
        /* flex-grow: 0.1; */
        /* Ask */
    }
}

@media screen and (prefers-reduced-motion: reduce){
    #logo {
        animation: none;
    }
  }

@media print {
    body {
        font-family:Arial, Helvetica, sans-serif;
        background-image: none;
    }

    body > header {
        flex-direction: column;
    }

    nav {
        width: 100%;
    }

    .nav_links {
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }

    .pricing {
        flex-wrap: nowrap;
        align-items: flex-end;
    }

    .card {
        border: 2px solid #45ADDD;
        flex-basis: 325px;
    }

    #gallery, .gallery {
        display: none;
    }

    .card ul li:nth-child(2)::after {
        content: "\1F44D";
    }
}